.body {
	height: 100vh;
	margin: 15px;
}

.main {
	display: flex;
	flex-direction: column;
	height: 75%;
}

.content {
	display: flex;
	flex-direction: row;
	height: 33.33%;
	padding: 10px;
}

.img {
	width: 25%;
	text-align: center;
}

.text {
	width: 75%;
	text-align: center;
}
